<% include ../partials/header.ejs %>
<% include ../tasks/new.ejs %>


        <h2>TO DO LIST</h2>


        <% tasks.forEach(task => { %>
            <div class="task">
                <b><%= task.subject %>:</b>
                <%= task.content %>
                <br>
                <b>DUE:</b>
                <%= task.due_date %>
            
            <br>
<form method="POST" action="/tasks/<%= task.task_id %>?_method=PUT">
<% include ../tasks/edit.ejs %>
</form>
<br>
<form method="POST" action="/tasks/<%=task.task_id %>?_method=DELETE">
    <button type="submit">DELETE TASK</button>
</form>

            </div>





            <% }); %>

<% include ../partials/footer.ejs %>
